.map-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #eee;
}

main {
  display: flex;
  flex-direction: column;
}

.custom-popup {
  font-family: Arial, sans-serif;
  color: #333333;
  padding: 8px;
  text-align: center;
}

.custom-popup h1 {
  font-size: 18px;
  color: #0078a8;
  margin-bottom: 18px;
}
