.heading {
  margin: 0;
  padding: 0px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.heading > h1 {
  padding: 20px;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: #f8f9fa;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  z-index: 100;
  position: absolute;
  margin-left: 33%;
  margin-top: 20px;
}

.logo-container img {
  height: 30px;
}
