.close-btn {
  margin-top: -16px;
  margin-left: 28px;
}

.img-fluid {
  height: 30%;
  width: 30%;
}

.song-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  padding: 24px;
  width: 500px;
  background-color: #f0f0f0;
}

.song-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.song-card .song-card__inner {
  display: flex;
  align-items: center;
}

.song-card .song-card__image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.song-card .song-card__image img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.song-card .song-card__details {
  flex: 1 1 auto;
}

.song-card .card-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: -16px;
}

.song-card .card-text {
  color: #000000;
  margin-top: 4px;
  margin-bottom: 4px;
}

.card-title {
  font-weight: bold;
}

.card-layout {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

p {
  margin-top: 0px;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.play-button {
  cursor: pointer;
  margin-top: -60px;
  margin-left: 92px;
}

.pause-button {
  cursor: pointer;
  margin-top: -56px;
  margin-left: 92px;
}
.bottom-right-image-container {
  position: relative;
}

.bottom-right-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottom-image {
  width: 30px; 
  height: auto; /* Maintain aspect ratio */
}

.like-button {
  background: none;
  border: none;
  color: #007bff; /* Bootstrap primary blue for like icon */
  cursor: pointer;
  font-size: 24px; /* Larger font size for better visibility */
}

.like-button:hover {
  color: #0056b3; /* Darker blue on hover */
}

/* Comment Form Styling */
.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.comment-form input, .comment-form textarea {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.comment-form textarea {
  height: 80px; /* Slightly larger text area */
  resize: none; /* Disabling resize */
}

.comment-form button {
  padding: 10px 20px;
  background-color: #007bff; /* Matching the primary blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: #0056b3;
}

/* Styles for the List of Comments */
.comments-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.comments-list li {
  background-color: #e9ecef; /* Light gray background for comments */
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.comments-list li strong {
  color: #007bff; /* Using primary color for username */
  font-weight: bold; /* Making username bold */
}